.app
{
  background-color: black;
  height: 100vh;
  color: white;
}
.Header{
  font-size: 5vh;
  font-weight: bold;
  height: 10vh;
}
.alignCenter
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.board{
  height: 80vh;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.row
{
  display: flex;
  height: 18vh;
}
.cell
{
  width: 25vw;
  border: 1px solid white;
  color: black;
}
.gray
{
  background-color: gray;
}
.ash
{
  background-color: rgb(77, 77, 77);
}
button
{
  height: 5vh;
  width: 20vw;
  background-color: rgb(97, 97, 97);
  font-size:large;
  font-weight: bold;
  color: white;
}